.checkout__toplines1 {
  margin: 15px 0px 2px 10px;
  font-size: 14px;
}
.checkout__toplines2 {
  margin: 5px 0px 2px 10px;
  font-size: 14px;
}

.checkout__left {
  margin: 15px 0px 0px 15px;
  width: 76%;
  float: left;
  height: max-contet;
  padding: 20px;
  background-color: white;
}
.checkout__right {
  margin: 10px 0px 0px 15px;
  width: 15.4%;
  float: left;
  height: max-content;
  padding: 20px;
  background-color: white;
}

.checkout__ad {
  margin: 15px 0px 0px 15px;
}

.checkout__title {
  font: size 28px;
  border-bottom: 10px solid lightgray;
}
